ipykernel
langchain-core
langchain-openai
langsmith
langchain-community
langchain

docarray
fastapi
uvicorn
google-search-results
python-dotenv
scikit-image
matplotlib
pypdf
chromadb
pandas

typing_extensions
aiohttp
jsonpatch
